/* CSS declarations go here */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
  background-color: cornsilk
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

body {
    font-family: Century Gothic, sans-serif;
    font-size: 14px;
}

#choices {
    text-align: left;
    padding: 10px;
}

#choices li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border: 10px solid sandybrown;
  background-color: wheat;
  color: black;
  text-decoration: none;
  width: 100%;
  } 

#choices li a {
  width: auto;
  } 

#choices li a:hover {
  background-color: sandybrown;
  color: black;
}

#math li {
    position: absolute;
    width: 60px;
    height: 60px;    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: sandybrown;
    line-height: 60px;
    text-align:center;
    cursor:pointer; }


#math {
    height: 400px;
    font-size: 16px;
}